a {
    color: #dddb59;
    text-decoration: none;
}
a:hover {
    color: #b9b9b9;
}
body {
    margin: 0;
    padding: 0;
    z-index: 0;
    max-width: 100%;
    background-color: #222831;
    height: 100vh;
}
#container {
    background: url(../img/bg.jpg);
    background-repeat: space-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: auto;
}
#box {
    border-radius: 2%;
    width: 40%;
    height: auto;
    border: 2px solid rgba(10, 20, 14, 0.2);
    background: rgba(57, 62, 70, 0.4);
    padding: 5%;
    padding-top: 3%;
    margin: auto;
    margin-top: 1.2%;
    margin-bottom: 2%;
    color: white;
    font-family: 'Liberation Mono','Mono','Century Gothic',sans-serif;
}
#sub_header{
    text-align: center;
    font-size: xx-small;
}
#entries {
    margin: 0;
    padding: 0;
}
#entries li {
    display: block !important;
    background-color: rgba(27, 32, 40, 0.2);
}
#box h1 {
    text-align: center;
    font-size: 2em;
    letter-spacing: 4px;
    font-weight: 100;
}
#box h5 {
    text-align: center;
    font-size: 1.3em;
    letter-spacing: 3px;
    font-weight: 100;
}
ul {
    margin: 0;
    padding: 0;
}
#box li a{
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: all ease-in-out 250ms;
}
#box li a:hover{
    color: #b9b9b9;
}
#media {
    text-align: center;
}
#media li {
    display: inline-block;
    list-style: none;
    margin: 2%;
    margin-top: 3em;
}
#media li a {
    font-size: 3.4em;
}
/* ----- Footer ---- */

#footer {
    position: fixed;
    width: 100%;
    margin: 0;
    bottom: 0;
    left: 0;
    height: 7%;
    background: #222;
}
#footer p {
    font-family: 'Liberation Mono','Mono','Century Gothic',sans-serif;
    text-align: center;
    color: white;
}

/* ----------- MEDIA -------------- */

@media screen and (max-width: 800px) {
    #container {
        width: 100%;
        height: auto;
    }
    #box {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    #profile-img {
        width: 25%;
        height: 25%;
    }
}
